@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src:
    local('NMS-Glyphs-Mono'),
    url('/NMS-Glyphs-Mono.ttf') format('truetype');
}

:root {
  --link-hover: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-hover: #c9c9c9;
  }
}

html {
  scrollbar-gutter: stable;
}

@media only screen and (max-width: 1023px) {
  .container {
    margin: 0 1em;
  }
}

.button:not(.is-outlined) {
  &.is-danger,
  &.is-success {
    color: white;
  }
}

.select {
  &,
  select {
    width: 100%;
  }
}

a:hover {
  color: var(--link-hover);
}
